<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Archivos</title>
</head>

<body>

<h1>Subir archivo</h1>

<form action="/subir_archivo" method="post" enctype="multipart/form-data">
    <input type="file" name="archivo" required>
    <button type="submit">Subir</button>
</form>

<hr>

<h1>Buscar archivo</h1>

<form action="/buscar" method="get">
    <input type="text" name="q" placeholder="Nombre o palabra clave" required>
    <button type="submit">Buscar</button>
</form>

</body>
</html>
